body {
  direction: rtl;
}

:root {
  --primary: #9C00C9;
  --secondary: #5E0094;
}

@layer base {
  img {
    display: initial;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#certificateText {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}